<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercise 2</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="angular.min.js"></script>
    <script src="app2.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
        <div ng-app="myApp" ng-controller="myCtrl">
                <div class="container">
                    <div class="card-body">
                        <h2 class="card-title text-dark">Artis Directory</h2>
                        <div class="form-row mb-2">
                            <div class="clol">
                                <label for="searchQuery" class="col-form-label text-right" ng-show="query">
                                    search: <span>{{query}}</span>
                                </label>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg" id="searchQuery"
                                placeholder="Search for an Artists" ng-model="query"
                                >
                            </div>
                        </div>
        
                        <div class="form-row">
                            <div class="col">
                                <select name="" id="" class="form-control form-control-inline" ng-model="orderid">
                                    <option value=""></option>
                                    <option value="id">Id</option>
                                    <option value="title">Title</option>
                                    <option value="url">URL</option>
                                </select>
                            </div>
                            <div class="col-5">
                                <div class="form-check form-check-inline">
                                    <label for="" class="form-check-label">
                                        <input type="radio" class="form-check-input"
                                        name="direction" checked
                                        ng-model="direction"
                                        >
                                        asci
                                    </label>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-check form-check-inline">
                                    <label for="" class="form-check-label">
                                        <input type="radio" class="form-check-input"
                                        name="direction"
                                        value="reverse"
                                        ng-model="direction"
                                        >
                                        desc
                                    </label>
                                </div>
                            </div>
                        </div>
        
                        
                    </div>
        
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <ul class="list-group d-flex">
                                <li class="list-group-item" ng-repeat="item in items | limitTo:5 | filter: query | orderBy: orderid : direction ">
                                    <div class="media d-flex align-items-center">
                                        <img ng-src="{{item.thumbnailUrl}}" alt="" class="rounded-cricle mr-3">
                                        <div class="media-body">
                                            <h1>{{item.id}}</h1>
                                            <h5 class="text-dark">
                                                {{item.title}}
                                            </h5>
                                            <div class="text-secondary">
                                                {{item.thumbnailUrl}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>